
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

p{
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700 !important;
  font-weight: bold;
  font-size: 25px
}


.qualidade{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700 !important;
  font-weight: bold;
  font-size: 18px
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font-family: 'Open Sans', sans-serif !important;
    padding: 1px 1px !important;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    width: 150px;
    height: 30px;
}

.text-qualidade{


    font-family: 'Open Sans', sans-serif;
    font-weight: 800 !important;
    font-size: 32px;
    width: 270px;
    margin: 60px 0 0 40px;
}

.column-img{
  height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: flex-start;
    align-items: flex-start;
    background: #580000;
    color: white;
    background-image: url(https://images2.alphacoders.com/439/439158.jpg);
    background-size: 50vh 100v !important;
    /* height: 50vh; */
    background-size: cover;
}

.qualidade-result-label{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 !important;
  font-size: 23px;
  line-height: 36px;


}

.qualidade-result-value{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 !important;
  font-size: 29px;
  line-height: 44px;


}
